.vim/.netrwhist
vim/.netrwhist
vim

i3/i3log
i3/.i3/i3log

ansible/*.retry
tags
*.log

.vagrant

ansible/roles/terminal/files/functions/fzf_key_bindings.fish

secret.txt
tfconfig/.clj-kondo/.cache/
tfconfig/.lsp/.cache
tfconfig/tfconfig.iml
tfconfig/.idea
