[Unit]
Description=Mailbox synchronization service for user %I

[Service]
Type=oneshot
ExecStart=~/.local/bin/mbsync-launcher
User=%i
StandardOutput=syslog
StandardError=syslog
